h1 {
  margin: 0 20px;
  padding: 0;
  font-size: 2.2em;
  font-weight: 500;
}
.header {
  margin: 0;
  color: white;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}
label {
  color: inherit;
}
.rotate {
  transform: rotate(180deg);
}
.btn {
  margin: 10px;
}
.resulthead {
  margin: 50px;
}
.close {
  display: block;
  margin:auto;
}
